.created-at= formatDate(post.created_at)
a.title(href="/posts/#{post.id}")
  h2= post.title
ul.tags
  each tag in post.tags
    li.tag= tag.text
p.content= post.content

.footer
  span.author author #{post.user.name}
  span.comment-count comments #{post.comments.length}
