include ../errors

extends ../layout

block content
  .post.col-xs-12.col-sm-8.col-sm-offset-2
    .created-at= formatDate(post.created_at)

    h2.title= post.title

    ul.tags
      each tag in post.tags
        li.tag= tag.text

    p.content= post.content

    span.author author #{post.user.name}

    .comments.row
      .col-xs-12.col-sm-10.col-sm-offset-1
        .comment-label Comments

        ul
          each comment in post.comments
            li.comment(data-comment-id= comment.id)
              include comment

        if newComment && typeof newComment.errors !== "undefined"
          mixin errors(newComment.errors)

        form(role="form")
          .form-group
            label(for="comment[commenter]") Name
            input.form-control(type="text" name="comment[commenter]" placeholder="yourname")
          .form-group
            label(for="comment[content]") Content
            textarea.form-control(name="comment[content]")
          input.btn.btn-primary.myblog-btn(type="submit" value="send")

  script.
    window.comments = !{JSON.stringify(post.comments)};
    window.postId = !{post.id};
    window.csrf = "!{csrf}";
  script(src="/application.js")